.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  padding: 2rem;
  color: white;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control{
  width: 50%;
  border: none;
  padding: 10px;
}

.recipe {
  padding: 5rem 0;
}
.recipe-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .recipe-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .recipe-center {
    width: 95vw;
    max-width: 1170px;
  }
}